.font-css{
    font-family: 'Roboto';	
    font-size: 32px;	
    font-weight: 300;	
    line-height: 43px;
    color: #FFFFFF;
}
  .clr-select-wrapper select {
    width: 8rem !important;
    font-family: 'Roboto';
    padding-left: 4px;
    font-size: 14px;
  }
  .clr-select-wrapper select option {
      color: white;
      background-color: #26262B !important;
  }
.not-update-div-inner{
    height: 40vh;
    text-align: center;
    max-height: 50vh;
    padding-top: 4%;
    font-family: 'Roboto';
}
.first-padding-class{
    padding-top: 1%;
    margin-left: 5%;
    padding-bottom:2%;
}
.table th {
    background-color: #26262B !important;
}
.table {
    background-color: #373845 !important;
}
.btn.btn-primary {
    border-color: #0076CE !important;
    background-color: #0076CE !important;
    color:#FEFFFF !important;
    font-family: 'Roboto';
    width: 100px !important;
}

.nav{
    padding-left: 40% !important;
}
.nav, .nav .nav-item.active>.nav-link {
    box-shadow: 0 -1px 0 #26262B inset !important;
}

button:focus{
    outline: none !important;
}

.text-css{
    font-family: 'Roboto';	font-size: 14px;	line-height: 19px;	text-align: center;
    display: flex;
}

.dropdown-label{
    color: #BBBBBB;	font-family: Roboto;	font-size: 12px;	line-height: 16px;
}
.hr-line {
    width: 6%;
    position: relative;
    margin: 7px;
    border-top: 1px solid #808080;
  }
  .left-side{
      padding-left:1%;
     
  }
  .wrapper {
    display: flex;
    align-items: center;
    width: 172px;
    color: #808080;
  }
  .line {
    border-top: 1px solid #808080;
    flex-grow: 1;
    margin: 0 8px;
  }
div.multiselect-dropdown:focus{
    outline: none;
}
ng-multiselect-dropdown span.dropdown-btn:focus{
    outline: none;
}
span.selected-item {
    border: 1px solid #ffffff  !important;
    margin-right: 4px;
    font-size: 12px !important;
    background: #26262B !important;
    padding: 2px 6px !important;
    color: #fff;
    border-radius: 10px !important;
    float: left;
    /* position: absolute !important; */
}
span.selected-item:hover {
    box-shadow: 1px 1px #26262B !important;; 
}
ng-multiselect-dropdown li.multiselect-item-checkbox input[type=checkbox]:disabled + div{
    color: #9ed2f7 !important;
    font-weight: bold;
}
ng-multiselect-dropdown li.multiselect-item-checkbox input[type=checkbox]:checked + div{
    color:#9ed2f7 !important;
    font-weight: bold;
}
ng-multiselect-dropdown div.dropdown-list {
    position: absolute;
    color:#FFFFFF;
    padding-top: 1px !important;
    width: 100%;
    z-index: 9999;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #4A4A52 !important;
    margin-top: 5px !important;
    box-shadow: 0 1px 5px #959595;
}

ng-multiselect-dropdown div.multiselect-item-checkbox input[type=checkbox]{
    color: #f3f3f3 !important;
}

ng-multiselect-dropdown li.multiselect-item-checkbox input[type=checkbox]+ div:before {
    border: 2px solid #f3f3f3 !important;
}

ng-multiselect-dropdown  div.dropdown-list .filter-textbox input{
    background-color: #191715 !important;
    color: white !important;
}

ng-multiselect-dropdown div.multiselect-dropdown .disabled > span {
    background-color: #26262B !important;
}
ng-multiselect-dropdown div.multiselect-dropdown .dropdown-btn {
    color: #FFFFFF !important;
}

ng-multiselect-dropdown div.multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 6px solid #FFFFFF !important;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
}

ng-multiselect-dropdown div.multiselect-dropdown .dropdown-btn .dropdown-up{
    border-bottom: 6px solid #FFFFFF !important;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
}

.nav .nav-link.active {
    box-shadow: 0 -3px 0 #ffffff inset !important;
}

button .nav .nav-link.active, .nav .nav-link:hover {
    box-shadow: 0 -3px 0 #ffffff inset !important;
}
ng-multiselect-dropdown li.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
    -webkit-animation: .2s ease-in borderscale;
    animation: .2s ease-in borderscale;
    background: #c2b2a1 !important;
}
ng-multiselect-dropdown li.multiselect-item-checkbox input[type=checkbox] + div{
    color: #f7f4f4 !important;
    font-family: 'Roboto';
}
.modal-dialog .modal-content {
    background-color: #191715;
}
.update-div{
    margin-left: 5%;
    margin-right: 5%; 
    border-top: 1px solid;
}
.without-update{
    margin-left: 5%;
        margin-right: 5%; 
        border-style: solid; 
        border-width: 1px; 
        background-color: #373845
}
.release-space{
    padding-left: 1.67%
}
.update-button{
padding-left: 2.22%;
padding-top: 1%;
}
.title-space{
    padding-left: 3%
}
.dropdown-class{
    color: white;
    background-color: #26262B;
    width: 192px;
    border-style: none;
    border-bottom: white;
    border-bottom-style: solid;
    margin-top: 5%;
    padding-bottom: 3%;
}

select:focus{
    outline: none;
}
select option:hover { background-color: grey !important; }

***
    css for multi select drop down
**/

.clear-btn{
    border-color: transparent;
    background-color: transparent;
    color: #0077b7;
    float: right;
    padding: 0rem 0.4rem;
    width: unset;
    cursor: pointer;
}
.save-btn{
    border: 0.05rem solid #0076CE;
    background-color: #0076CE;
    color: #fff;
    float: right; 
    border-radius: 2px;
    padding: 0rem 0.4rem;
    width: unset;
    margin: 0rem 0.4rem; 
}

.save-btn:hover{
    background: #0076CE;
}

.clear-btn:hover{
    background: transparent;
}

.selected-option{
    float: left;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    margin-right: 0.2rem;
}

.select-content{
    list-style: none;
    height: 1.2rem;
    width: 13rem;
    overflow: hidden;
    width: 90%;
    line-height: 15px;
}

.option-css{
color: #f7f4f4 !important;
font-family: 'Roboto';
background-color: #191715 !important;
font-size: 12px;
cursor: pointer;
height: 30px !important;
}
.option-css:focus{
    background-color: #191715 !important;
}
.clr-form-control {
    margin-top: 6px !important;
}
[type=checkbox] {
    width: 24px;
    height: 17px;
    border-radius: 2px;
}