<div class="top-div">
    <!-- total allocation, start date. end date div -->
    <div class="clr-row date-div">
        <div class="clr-col-md-10 clr-row">
            <div class="clr-col-md-3"> <label class="dropdown-label"> Total
                Allocation</label><br>
            <span *ngIf="totalAllocation==0" class="font-bold">0</span>
            <span *ngIf="totalAllocation!=0" class="font-bold">$ {{totalAllocation}} M</span></div>

            <div class="clr-col-md-3"> <label class="dropdown-label"> Start Date</label><br>
                <span class="font-bold"> {{startDate | date: 'MM/dd/yyyy'}} </span></div>

            <div class="clr-col-md-3"> <label class="dropdown-label">End Date</label><br>
                <span class="font-bold"> {{endDate | date: 'MM/dd/yyyy'}} </span></div>
        </div>
        <div class="clr-col-md-2 clr-row clr-justify-content-end" style="margin-left:2%">
            <button class="btn edit-button"
            (click)="onEdit(allocationData)"><clr-icon shape="pencil"></clr-icon> Edit</button>
        </div>
    </div>


    <div class="clr-row">
        <!-- csg product group -->
        <div class="clr-col-md-6 csg-isg-outer">
            <div class="clr-row csg-div">
                <div class="csg-text clr-col-md-8"> CSG</div>
                <div class="csg-text clr-col-md-4"><span style="float: right;padding-right: 16%;"> $ {{totalCSGAllocation}} M</span></div>
                
            </div>
            <table class="table table-left" id="ISGProduct" style="width: 95%;">
                <thead>
                    <tr>
                        <th class="left">Product Group</th>
                        <th class="left">Allocation($M)</th>
                    </tr>
                    </thead>
                <tbody>
                    <tr *ngFor="let productGroup of productGroupCSG;">
                        <td class="left description-td">{{productGroup.prodGrpDescSplit}}</td>
                        <td class="left color">{{productGroup.amountAllocated}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- isg product group -->
        <div class="clr-col-md-6">
            <div class="clr-row csg-div">
                <div class="csg-text clr-col-md-8"> ISG</div>
                <div  class="csg-text clr-col-md-4"><span style="float: right;padding-right: 16%;">$ {{totalISGAllocation}} M</span></div>
            </div>
            <table class="table table-left" id="ISGProduct" style="width: 95%;">
                <thead>
                    <tr>
                        <th class="left">Product Group</th>
                        <th class="left">Allocation($M)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productGroup of productGroupISG;">
                        <td class="left description-td">{{productGroup.prodGrpDescSplit}}</td>
                        <td class="left color">{{productGroup.amountAllocated}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>