<header class="header-6">
    <div class="branding" style="padding-left: 5%">
        <a href="javascript://" class="nav-link">
            <img src="assets/images/ic_menu.svg" alt="menu">
            <img src="assets/images/dellemc.svg" alt="Dell EMC" style="width: 130px;">
            <img src="assets/images/Pipe.png" alt="Seperator" style="height: 30px;padding-left: 1%;padding-right: 3%;">
            <span class="cost-interlock">Cost Interlock and Management (sCMP)</span>
        </a>
    </div>
    <div class="header-actions">

        <a href="javascript://" style="padding-right: 2rem;" class="nav-link nav-icon-text">
           <clr-icon style="margin-left: 4%;" shape="bell"></clr-icon>
          <span style="padding-left: 4%"> <img src="assets/images/Pipe.png"  alt="Seperator" style="height: 30px;"></span>
           <clr-icon style="margin-left: 4%;" shape="user"></clr-icon>
            <span class="nav-text">{{loggedIn_User}}</span>
        </a>
    </div>
</header>