<div class="container" *ngIf="allocationData && allocationData.length>0">
  <div class="commodity-allocation">
    Commodity Allocation
  </div>

  <div class="content-container">
    <div class="clr-row padding-class">
      <div class="clr-col-sm-3" style="margin-top:0px!important;">

        <ng-multiselect-dropdown [data]="commodityList" [(ngModel)]="commodity" [disabled]="disabled"  
          placeholder="Select Commodity" [settings]="commoditySettings" (onSelect)="onCommoditySelect($event)" style="margin-top: 16px!important;height: 20px!important;">
          
        </ng-multiselect-dropdown>

      </div>
      <div class="clr-col-md-3" style="margin-top: 10px;">
        <select clrSelect [(ngModel)]="simType">
          <option value="undefined" disabled selected hidden style="margin-bottom: 50px!important;">Select Type</option>
          <option *ngFor="let type of simTypeList" value="{{type.id}},{{type.type}}">{{type.type}}</option>
        </select>
      </div>
      <div class="clr-col-md-2" style="margin-top: 10px;">

        <button class="btn btn-primary1" [disabled]="simType==null || commodity==null|| commodity==''|| simType=='undefined' "
          (click)="addCommodityRows()">+ Add commodity</button>

      </div>

      <div class="clr-col-md-3 clr-row clr-justify-content-end" style="margin-top: 10px;">
        <button class="btn btn-primary" [disabled]="isCancel" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" [disabled]="isSave" (click)="save(false, true)">Save</button>
       
        <!-- <button class="btn btn-primary" [disabled]="isCancel" (click)="cascadeTargetId()">Cascade</button> -->
      </div>

    </div>
    <mat-divider class="divider"></mat-divider>
  </div>
  <div class="clr-row padding-class">
    <div class="clr-col-md-2">
      <label class="dropdown-label">Allocate By</label>
      <select clrSelect [(ngModel)]="allocateType" (change)="onallocateBySelect($event)">
        <option *ngFor="let allocate of allocateByList" [selected]="allocate.method == '%'">{{allocate.method}}</option>
      </select>
    </div>
  </div>
  
  <div class="clr-row commodity-allocation-child-div">
    <div class="clr-row commodity-allocation-child-header" style="height: 500px;overflow-y: auto;">  
        <table class="table commodity-table">
            <thead>
                <tr>
                    <th class="commodityGrpDesc" style="vertical-align: top;">COMMODITIES</th>
                    <th class="table commodityAllocationHeader" style=" padding:0px;">
                    <table>
                        <tr class="commodityAllocationHeader">                       
                            <th class="commodityAllocationHeader" style="vertical-align: text-top;" *ngFor="let buAllocation of _allocationDataModel.buAllocation">
                                <div class="commodityAllocationBody">                      
                                    <span style="width:50%; text-align: left;">{{buAllocation.prodBuDesc}}</span>
                                    <span class="commodityAllocationSpan" *ngIf="buAllocation.amountAllocated < 0">{{"("+buAllocation.amountAllocated+")"}}</span>
                                    <span class="commodityAllocationSpan" *ngIf="buAllocation.amountAllocated >= 0">{{buAllocation.amountAllocated}}</span>
                                </div>
                                <div class="commodityAllocationBody">                      
                                    <span class="commodityAllocation-prodGrpDesc">{{buAllocation.prodGrpDesc}}</span>
                                </div>
                            </th>
                        </tr>
                        <tr class="commodityAllocationHeader">                       
                            <th class="commodityAllocationHeader" *ngFor="let buAllocation of _allocationDataModel.buAllocation">
                                <div class="commodityAllocationBody">                      
                                    <span class="commodityAllocationSpan">Allocation %</span>
                                    <span class="commodityAllocationSpan">Target $M</span>
                                </div>
                            </tr>
                    </table>
                    </th>
                </tr>
            </thead>
            
                
            <tbody *ngFor="let commodityAllocation of _allocationDataModel.commodityAllocation">
                
                <tr *ngIf="commodityAllocation.allocationType !=='GAP TO TARGET'">
                    <th class="commodityGrpDesc">{{commodityAllocation.allocationType}}</th>
                    <th class="table"></th>
                </tr>
                <tr *ngFor="let commodity of commodityAllocation.commoditiesList;let j=index;">                 
                    <td class="commodityGrpDesc">{{commodity.commodityGrpDesc}}
                   <button class="btndel" (click)="deletecommodity($event,commodity.commodityGrpId,commodityAllocation.allocationType)" [hidden]="commodity.commodityGrpDesc=='NON SIMULATE TOTAL'||commodity.commodityGrpDesc=='SIMULATE TOTAL'||commodity.commodityGrpDesc=='GAP TO TARGET'||commodity.commodityGrpDesc=='TOTAL'"> <img src="assets/images/Delete.svg" /></button>
                    </td>
                    <td class="table" style=" padding:0px;">
                      
                    <table>  
                        <tr [attr.id]="commodity.commodityGrpId">                           
                        <td *ngFor="let allocation of commodity.allocationList;let i=index; trackBy: trackByMethod;">
                         
                            <div class="commodityAllocationBody" *ngIf="i<commodity.allocationList.length-1" [hidden]="commodity.commodityGrpDesc=='NON SIMULATE TOTAL' || commodity.commodityGrpDesc=='SIMULATE TOTAL'|| commodity.commodityGrpDesc=='TOTAL'|| commodity.commodityGrpDesc=='GAP TO TARGET'" >                      
                             <input   type="number" appNumeric class="commodityAllocationSpan celleditallocation" [disabled]="!displayallocate"  [(ngModel)]="allocation.allocationPercentage"  (change)="RowColCalculatePercentage($event,commodity.commodityGrpId,commodityAllocation.allocationType,i)" (focus)="start($event)" (focusout)="end($event)"/>
                          <!--    <input   type="number" appNumeric class="commodityAllocationSpan celleditallocation" *ngIf="allocation.allocationTarget < 0" [disabled]="displayallocate" placeholder="0" (change)="RowColCalculateTarget($event,commodity.commodityGrpId,commodityAllocation.allocationType,i)" [(ngModel)]="allocation.allocationTarget" />  -->
                                <input  type="number" appNumeric class="commodityAllocationSpan celleditallocation"  [disabled]="displayallocate"  (change)="RowColCalculateTarget($event,commodity.commodityGrpId,commodityAllocation.allocationType,i)" [(ngModel)]="allocation.allocationTarget" (focus)="start($event)" (focusout)="end($event)"/>
                             </div>
                            
                           <div  class="commodityAllocationBody" *ngIf="i<commodity.allocationList.length-1" [hidden]="commodity.commodityGrpDesc!='NON SIMULATE TOTAL' && commodity.commodityGrpDesc!='SIMULATE TOTAL' &&  commodity.commodityGrpDesc!='TOTAL' && commodity.commodityGrpDesc!= 'GAP TO TARGET'">
                              <span   class="commodityAllocationSpan" [style.color]="allocation.allocationPercentage !== 100 && allocation.allocationPercentage!==0 && commodity.commodityGrpDesc==='TOTAL'? 'red' : ''">{{allocation.allocationPercentage}}%</span>
                              <span   class="commodityAllocationSpan">{{allocation.allocationTarget}}</span>   
                             </div>            
                             <div class="commodityAllocationBody" *ngIf="i==commodity.allocationList.length-1">                 
                              <span   class="commodityAllocationSpan" appNumeric value="" [style.color]="allocation.allocationPercentage !== 100 && allocation.allocationPercentage!==0 && commodity.commodityGrpDesc==='TOTAL'? 'red' : ''">{{allocation.allocationPercentage}}%</span>
                             <span   class="commodityAllocationSpan" appNumeric>{{allocation.allocationTarget}}</span>
                           </div>    
                                     
                        </td> 
                        </tr>
                     </table>
                   
                    </td>
                </tr>
              
            </tbody>
        </table>
    </div>
</div>


 
  <!-- on cancel open modal pop up -->
<clr-modal [(clrModalOpen)]="isCancelModalOpened">
  <div class="modal-body">{{cancelModalMessage}}</div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="cancelAllocationChange(false)">No</button>
      <button type="button" class="btn btn-primary" (click)="cancelAllocationChange(true)">Yes</button>
  </div>
</clr-modal>


