<div class="top-div">
    <!-- total allocation, start date. end date div -->
    <div class="clr-row date-div">
        <div class="clr-col-md-9 clr-row">
            <div class="clr-col-md-3"> <label class="dropdown-label"> Total
                    Allocation</label><br>
                <!-- <span *ngIf="totalAllocation==0" class="font-bold">$0</span> -->
                <span class="font-bold">$ {{totalAllocation}} M</span></div>

            <div class="clr-col-md-3"> <label class="dropdown-label"> Start Date</label><br>
                <span class="font-bold"> {{startDate | date: 'MM/dd/yyyy'}} </span></div>

            <div class="clr-col-md-3"> <label class="dropdown-label">End Date</label><br>
                <span class="font-bold"> {{endDate | date: 'MM/dd/yyyy'}} </span></div>
               
        </div>
        <div class="clr-col-md-3 clr-row clr-justify-content-end" style="margin-left: 2%;">
         <button class="btn btn-primary" [disabled]="isCancel" (click)="cancelProductForm()">Cancel</button>
            <!-- <span>{{!CSGProductForm.dirty && !ISGProductForm.dirty}}
                {{isCancel || !CSGProductForm.valid || !ISGProductForm.valid}}</span> -->
            <button class="btn btn-primary" [disabled]=" (!CSGProductForm.dirty && !ISGProductForm.dirty) ||(
            isCancel ||  !CSGProductForm.valid || !ISGProductForm.valid)"
                (click)="saveProductGroupAllocation(false)">Save</button>
        </div>
    </div>

    <div class="clr-row">
        <!-- csg product group -->
        <div class="clr-col-md-6 csg-isg-outer">
            <div class="clr-row csg-div">
                <div class="csg-text clr-col-md-8"> CSG  <span class="error-save" *ngIf="!CSGProductForm.valid">Product Group and Allocation is mandatory</span></div>
                <div class="csg-text clr-col-md-4"><span style="float: right;padding-right: 16%;"> $ {{totalCSGallocation}} M </span></div>
                <!-- <div *ngIf="totalCSGallocation==0" class="csg-text clr-col-md-4">0</div> -->
            </div>
            <form [formGroup]="CSGProductForm">

                <table class="table form-outline" formArrayName="cSGRows">
                    <thead>
                        <tr>
                            <th class="product-allocation"><span style="float:left">Product Group </span></th>
                            <th class="product-allocation">Allocation($M)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="product-group-text" *ngIf="csgNoRowAdded">
                            <div class="product-group-msg"> Add Product Group Set to populate the table.</div>
                        </tr>
                        <tr *ngFor="let itemrow of CSGProductForm.controls.cSGRows['controls']; let i=index"
                            [formGroupName]="i">
                            <td class="form-group">

                                <ng-multiselect-dropdown [placeholder]="'Select Product Group'"
                                    formControlName="productCSG" [(data)]="productCSGArrayList[i]" [settings]="csgIsgSettings"
                                    (onSelect)="onCSGSelect($event,i)" (onDeSelect)="onCSGDeselect($event,i)">
                                </ng-multiselect-dropdown>

                            </td>
                            <td class="form-group">
                                <input formControlName="CSGAllocation" #csg (blur)="onCSGChange(i,csg.value)"
                                    class="form-control input-css" type="number" required appNumeric>
                            </td>

                            <td>
                                <clr-icon shape="times" (click)="deleteCSGRow(i)">
                                </clr-icon>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </form>
            <button class="btn product-button" [disabled]="productCSGCheckCounter==productCSGList.length || !CSGProductForm.valid" (click)="addCSGRow()">
                <clr-icon shape="plus"></clr-icon> ADD PRODUCT GROUP SET
            </button>
        </div>
        <!-- isg product group -->
        <div class="clr-col-md-6">
            <div class="clr-row csg-div">
                <div class="csg-text clr-col-md-8"> ISG   <span class="error-save" *ngIf="!ISGProductForm.valid">Product Group and Allocation is mandatory</span></div>
                <div class="csg-text clr-col-md-4"><span style="float: right;padding-right: 16%;">$ {{totalISGallocation}} M</span></div>
                <!-- <div *ngIf="totalISGallocation==0" class="csg-text clr-col-md-4">0</div> -->
            </div>
            <form [formGroup]="ISGProductForm">
                <table class="table table-product-group" formArrayName="iSGRows">

                    <thead>
                        <tr>
                            <th class="product-allocation"><span style="float:left">Product Group</span></th>
                            <th class="product-allocation">Allocation($M)</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="product-group-text" *ngIf="isgNoRowAdded">
                            <div class="product-group-msg"> Add Product Group Set to populate the table.</div>
                        </tr>
                        <tr *ngFor="let itemrow of ISGProductForm.controls.iSGRows['controls']; let i=index"
                            [formGroupName]="i">
                            <td class="form-group">
                                <ng-multiselect-dropdown [placeholder]="'Select Product Group'"
                                    formControlName="productISG" [(data)]="productISGArrayList[i]" [settings]="csgIsgSettings"
                                    (onSelect)="onISGSelect($event,i)" (onDeSelect)="onISGDeselect($event,i)">
                                </ng-multiselect-dropdown>
                            </td>

                            <td class="form-group">
                                <input formControlName="ISGAllocation" #isg (blur)="onISGChange(i,isg.value)"
                                    class="form-control input-css" type="number" required appNumeric>
                            </td>

                            <td>
                                <clr-icon shape="times" (click)="deleteISGRow(i)">
                                </clr-icon>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </form>
            <button class="btn product-button" [disabled]="productISGCheckCounter==productISGList.length || !ISGProductForm.valid" (click)="addISGRow()">
                <clr-icon shape="plus"></clr-icon> ADD PRODUCT GROUP SET
            </button>

        </div>
    </div>
</div>
<!-- on update click popup -->
<clr-modal [(clrModalOpen)]="isCancelModalOpened">
    <div class="modal-body">{{cancelModalMessage}}</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="cancelBuProductChange(false)">No</button>
        <button type="button" class="btn btn-primary" (click)="cancelBuProductChange(true)">Yes</button>
    </div>
</clr-modal>