<!-- <div class="content-container">
    <div class="content-area">
        <div class="clr-row scm-header">
            <div class="clr-col-md-9" style="padding-left: 0px;">
                <div class="scm-title"> Standard Cost Simulation</div>
                <div class="scm-system-date">{{systemDate | date: 'MM/dd/yyyy'}}</div>
            </div>
            <div class="clr-col-md-3 clr-row clr-justify-content-end" style="padding-right: 0px;">
                <button class="btn btn-primary" (click)= "navigateToSetTargets()" style="margin-right: 0px;">SET TARGETS</button>
            </div>
        </div>
    </div>
</div> -->

<div class="content-container">    
    <div class="clr-row clr-justify-content-center">
        <div class="clr-col-xl-11 clr-col-lg-11 clr-col-md-11 clr-col-sm-11">
        <div class="clr-row">
            <div class="clr-col-xl-12 clr-col-lg-12 clr-col-md-12 clr-col-sm-12">
                <div class="clr-row">
                <div class="clr-col-xl-10 clr-col-lg-10 clr-col-md-10 clr-col-sm-10">
                    <h2>Standard Cost Simulation</h2>
                    <div style="font-size: 0.45rem;">{{systemDate | date: 'MM/dd/yyyy'}}</div>
                </div>
                <div class="clr-col-xl-2 clr-col-lg-2 clr-col-md-2 clr-col-sm-2">
                    <button class="btn btn-primary" (click)= "navigateToSetTargets()">SET TARGETS</button>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="clr-col-xl-11 clr-col-lg-11 clr-col-md-11 clr-col-sm-11">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="8">
                        <h3 class="simulation-header">Simulation Manager</h3>
                    </th>
                    <th>  
                        <input clrInput type="text" class="clr-input" name="search" placeholder="Search" />
                        
                    </th>
                    <th>
                        <button class="btn btn-sm btn-inverse">
                            <clr-icon shape="filter-grid" size="16"></clr-icon>
                            Filter
                        </button>
                    </th>
                </tr>
                <tr>
                    <th class="table-title">Target ID</th>
                    <th class="table-title">Release<br> Quater</th>
                    <th class="table-title">CP Month</th>
                    <th class="table-title">Part <br>Commodity</th>
                    <th class="table-title">BU</th>
                    <th class="table-title">Product<br> Group</th>
                    <th class="table-title">Simulation<br> Status</th>
                    <th class="table-title">Target<br> Release($M)</th>
                    <th class="table-title">Simulated<br> Release($M)</th>
                    <th class="table-title">Version</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 
                       <a [routerLink]="" (click)="showTargetDetails(1)">
                        <clr-icon shape="caret right" *ngIf="showIndex !== 1"></clr-icon>
                        <clr-icon shape="caret down" *ngIf="showIndex === 1"></clr-icon>
                        08-16-2019-001 </a>
                    </td>
                    <td>FY20Q4</td>
                    <td>Oct</td>
                    <td>SSD <br>Memory</td>
                    <td>CSG</td>
                    <td>-</td>
                    <td>In Progress</td>
                    <td>(10)</td>
                    <td>(10)</td>
                    <td>-</td>
                </tr>
                <!-- <tr *ngIf="showIndex === 1">
                    <td colspan="2"></td>
                    <td colspan="8">
                        <div class="clr-row">
                            <div class="clr-col-12 clr-col-lg-12 clr-col-xl-12 clr-col-md-12 clr-col-sm-12">   
                            <table class="table">
                                <tr>
                                    <td><a href="#"><clr-icon shape="caret right"></clr-icon></a> SSD</td>
                                    <td>CSG</td>
                                    <td>Consumer<br>
                                        <a href="#">+See More(2)</a>
                                    </td>
                                    <td>In progress</td>
                                    <td>(10)</td>
                                    <td>(1)</td>
                                    <td>-</td>
                                </tr>
                            </table>
                            </div>
                        </div>
                    </td>
                </tr> -->
                <tr *ngIf="showIndex === 1" style="background-color: #656677;">
                    <td colspan="3"></td>
                    <td><a [routerLink]="" (click)="showCommodityDetails(1)">
                        <clr-icon shape="caret right"></clr-icon></a> SSD
                    </td>
                    <td>CSG</td>
                    <td>Consumer<br>
                    <a href="#">+See More(2)</a>
                    </td>
                    <td>In progress</td>
                    <td>(10)</td>
                    <td>(1)</td>
                    <td>v5</td>
                </tr>
                <tr *ngIf="childIndex === 1" style="background-color: #656677;">
                    <td colspan="6"></td>
                    <td>In progress</td>
                    <td>(10)</td>
                    <td>(1)</td>
                    <td>v4</td>
                </tr>
                <tr *ngIf="childIndex === 1" style="background-color: #656677;">
                    <td colspan="6"></td>
                    <td>In progress</td>
                    <td>(10)</td>
                    <td>(1)</td>
                    <td>v3</td>
                </tr>
                <tr *ngIf="childIndex === 1" style="background-color: #656677;">
                    <td colspan="6"></td>
                    <td>In progress</td>
                    <td>(10)</td>
                    <td>(1)</td>
                    <td>v2</td>
                </tr>
                <tr>
                    <td><clr-icon shape="caret right"></clr-icon>08-16-2019-001</td>
                    <td>FY20Q4</td>
                    <td>Oct</td>
                    <td>SSD</td>
                    <td>CSG</td>
                    <td>-</td>
                    <td>In Progress</td>
                    <td>(10)</td>
                    <td>(10)</td>
                    <td>-</td>
                </tr>          
            </tbody>
        </table>
        </div>
    </div>
</div>
